function Main.main 10
push constant 6
call String.new 1
push constant 74
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 49
call String.appendChar 2
call Output.printString 1
pop temp 0
call Hangman.new 0
pop local 0
push local 0
call Hangman.run 1
pop temp 0
push local 0
call Hangman.dispose 1
pop temp 0
call Screen.clearScreen 0
pop temp 0
push constant 0
push constant 0
call Output.moveCursor 2
pop temp 0
push constant 6
call String.new 1
push constant 74
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 50
call String.appendChar 2
call Output.printString 1
pop temp 0
call Hangman2.new 0
pop local 1
push local 0
call Hangman.run 1
pop temp 0
push local 0
call Hangman.dispose 1
pop temp 0
call Screen.clearScreen 0
pop temp 0
push constant 0
push constant 0
call Output.moveCursor 2
pop temp 0
push constant 6
call String.new 1
push constant 74
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 51
call String.appendChar 2
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
call Hangman3.new 0
pop local 2
push local 0
call Hangman.run 1
pop temp 0
push local 0
call Hangman.dispose 1
pop temp 0
call Screen.clearScreen 0
pop temp 0
push constant 0
push constant 0
call Output.moveCursor 2
pop temp 0
push constant 6
call String.new 1
push constant 74
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 52
call String.appendChar 2
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
call Hangman4.new 0
pop local 3
push local 0
call Hangman.run 1
pop temp 0
push local 0
call Hangman.dispose 1
pop temp 0
call Screen.clearScreen 0
pop temp 0
push constant 0
push constant 0
call Output.moveCursor 2
pop temp 0
push constant 6
call String.new 1
push constant 74
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 53
call String.appendChar 2
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
call Hangman5.new 0
pop local 4
push local 0
call Hangman.run 1
pop temp 0
push local 0
call Hangman.dispose 1
pop temp 0
call Screen.clearScreen 0
pop temp 0
push constant 0
push constant 0
call Output.moveCursor 2
pop temp 0
push constant 6
call String.new 1
push constant 74
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 54
call String.appendChar 2
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
call Hangman6.new 0
pop local 5
push local 0
call Hangman.run 1
pop temp 0
push local 0
call Hangman.dispose 1
pop temp 0
call Screen.clearScreen 0
pop temp 0
push constant 0
push constant 0
call Output.moveCursor 2
pop temp 0
push constant 6
call String.new 1
push constant 74
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 55
call String.appendChar 2
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
call Hangman7.new 0
pop local 6
push local 0
call Hangman.run 1
pop temp 0
push local 0
call Hangman.dispose 1
pop temp 0
call Screen.clearScreen 0
pop temp 0
push constant 0
push constant 0
call Output.moveCursor 2
pop temp 0
push constant 6
call String.new 1
push constant 74
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 56
call String.appendChar 2
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
call Hangman8.new 0
pop local 7
push local 0
call Hangman.run 1
pop temp 0
push local 0
call Hangman.dispose 1
pop temp 0
call Screen.clearScreen 0
pop temp 0
push constant 0
push constant 0
call Output.moveCursor 2
pop temp 0
push constant 6
call String.new 1
push constant 74
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 57
call String.appendChar 2
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
call Hangman9.new 0
pop local 8
push local 0
call Hangman.run 1
pop temp 0
push local 0
call Hangman.dispose 1
pop temp 0
call Screen.clearScreen 0
pop temp 0
push constant 0
push constant 0
call Output.moveCursor 2
pop temp 0
push constant 7
call String.new 1
push constant 74
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
call Hangman10.new 0
pop local 9
push local 0
call Hangman.run 1
pop temp 0
push local 0
call Hangman.dispose 1
pop temp 0
push constant 0
return
